# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data & Models
data/*
!data/.gitkeep
models/*
!models/.gitkeep
tmp_trainer/
runs/

# Environments & IDEs
.env
.venv
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db
